<h1>ToDoアプリ</h1>
<%= link_to add_path do%>
  <button>タスク追加</button>
<% end %>
<p><%= notice %></p>
<ul> 
  <% @tasks.each do |task| %>
    <li>
      <label>
        <input type="checkbox" <% if task.completed? %> checked <% end %> disabled/>
        <%= task.title %> - <%= task.description %> (<%= task.completed ? '完了' : '未完了' %>)
      
      </label>
        <%= link_to edit_task_path(task) do%>
          <button>編集</button>
        <% end %>
        <%= link_to task_path(task), data: {turbo_method: :delete,
                                            turbo_confirm: "削除しますか？"} do%>
          <button>削除</button>
        <% end %>
    </li>

  <% end %>
</ul>