<h1>ToDoアプリ</h1>
<%= link_to add_path do%>
  <button>タスク追加</button>
<% end %>
<ul> 
  <% @tasks.each do |task| %>
    <li>
      <label>
        <input type="checkbox" <% if task.completed? %> checked <% end %> disabled/>
        <%= task.title %> - <%= task.description %> (<%= task.completed ? '完了' : '未完了' %>)
        <%= link_to edit_task_path(task) do%>
          <button>編集</button>
        <% end %>
      </label>
    </li>

  <% end %>
</ul>